@model OnlineShop.Application.DTO.Siteside.User.AddUserToTheDatabaseDTO

<div class="col-sm-6 col-lg-6 mb-3">
    <div class="title-left">
        <h3>Create New Account</h3>
    </div>
  
    <form asp-controller="MyAccount"  asp-action="Register" method="post"
        class="mt-3 review-form-box collapse show" id="formRegister" style="">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="InputName" class="mb-0" asp-for="UserName">UserName</label>
                <input type="text" asp-for="UserName" class="form-control" id="InputName" placeholder="UserName">
            </div>
           
            <div class="form-group col-md-6">
                <label for="InputMobile" class="mb-0" asp-for="Mobile">Mobile</label>
                <input type="text" asp-for="Mobile" class="form-control" id="InputMobile" placeholder="Enter Phone Number">
            </div>

            <div class="form-group col-md-6">
                <label for="InputPassword" class="mb-0" asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class=" form-control" id="InputPassword" placeholder="Password">
            </div>

            <div class="form-group col-md-6">
                <label for="InputRePassword" class="mb-0" asp-for="RePassword">RePassword</label>
                <input type="Password" asp-for="RePassword" class=" form-control" id="InputRePassword" placeholder="RePassword">
                <span style="color:red;" asp-validation-for="RePassword" ></span>
            </div>

        </div>
        <button type="submit" class="btn hvr-hover">Register</button>
    </form>
</div>